.content {
  &-main {
    padding-top: 120px;

    @media (max-width: 991px) {
      padding-top: 73px;
    }
  }

  @include element('header') {
    h5 {
      font-size: 1.8rem;
    }
  }

  @include element('body') {
    padding-top: 2rem;
  }
}